.navbar {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 40px;
    background-color: #241b2f;
    box-shadow: 0 4px 15px #ccc;
}

.logo{
    color: white;
    font-size: 23px;
    font-weight: bold;

}
.nav-links{
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-links a{
    text-decoration: none;
    color: #eee;
    font-size: 16px;
    padding: 11px 18px;
    border-radius: 12px;

    transition: all 0.25s ease;
}
.nav-links a:hover{
    background: #3b2b4d;
    color: white;
    transform: translateY(-2px);
}

.nav-links a.active {
  background: #a855f7;
  color: white;
  box-shadow: 0 4px 12px #a855f755;
}
