.favorite {
  display: flex;
  align-items: center;
  gap: 22px;

  width: 85%;
  max-width: 700px;

  margin: 25px auto;
  padding: 20px;

  background: #ffffff;
  border-radius: 18px;

  border-left: 6px solid #7c5cff;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);

  transition: 0.3s;
}

.favorite:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 22px rgba(124, 92, 255, 0.25);
}

.favorite img {
  width: 120px;
  height: 165px;

  object-fit: cover;
  border-radius: 12px;
}

.favorite h3 {
  margin: 0 0 12px;

  font-size: 21px;
  color: #49358f;
}

.favorite p {
  margin: 8px 0;

  color: #666;
  font-size: 15px;
}

.favorite p:last-child {
  color: #e3a008;
  font-weight: bold;
  font-size: 17px;
}