.detail-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.drama-card {
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 2px 10px #ddd;
  background-color: white;
}

h2 {
  color: #d65db1;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}